#canvas {
    position: absolute;
    left: 30%;
    top: 25%;
    width: 60%;
    height: 60%;
}

#clockHours {
    position: absolute;
    top: 18.5%;
}

#clockMinutes {
    position: absolute;
    top: 18.5%;
    left: 4%;
}

#clockSeconds {
    position: absolute;
    top: 18.5%;
    left: 7.5%;
}

#selectHours {
    position: absolute;
    top: 40%;
    display: none;
}

#selectMinutes {
    position: absolute;
    top: 40%;
    left: 5%;
    display: none;
}

#selectSeconds {
    position: absolute;
    top: 40%;
    left: 10%;
    display: none;
}

#alarmSet {
    position: absolute;
    left: 12%;
}

#alarmStop {
    position: absolute;
    left: 17%;
}
