img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.arrowLeft {
    position: absolute;
    top: 32%;
    left: 30%;
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.arrowRight {
    position: absolute;
    top: 32%;
    left: 64.5%;
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.slideShow {
    display: none;
}

.pause {
    position: absolute;
    top: 65%;
    left: 50%;
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.play {
    position: absolute;
    top: 65%;
    left: 40%;
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
