* {
    box-sizing: border-box;
}

.box {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    display: table;
}

.buttonList, .buttonGrid {
    position: relative;
    left: 44.4%;
    border: none;
    padding: 16px;
    background-color: #ddd;
    cursor: pointer;
}

.kissa {
    position: relative;
    left: 15%;
    top: 12%;
}

.katti {
    position: relative;
    left: 20%;
    top: 12%;
}

.kisu {
    position: relative;
    left: 15%;
    top: 12%;
}

.merkki1 {
    position: relative;
    left: 20%;
    top: 12%;
}

.merkki2 {
    position: relative;
    left: 15%;
    top: 12%;
}

.merkki3 {
    position: relative;
    left: 20%;
    top: 12%;
}
