body {
    margin: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.box1 {
    grid-column: 1;
    grid-row: 1;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 1000%;
    height: 200px;
}

.box2 {
    grid-column: 2;
    grid-row: 1;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 1000%;
    height: 200px;
}

.box3 {
    grid-column: 3;
    grid-row: 1;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 1000%;
    height: 200px;
}

.box4 {
    grid-column: 1;
    grid-row: 2;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 1000%;
    height: 200px;
}

.box5 {
    grid-column: 2;
    grid-row: 2;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 1000%;
    height: 200px;
}

.box6 {
    grid-column: 3;
    grid-row: 2;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 1000%;
    height: 200px;
}
