footer {
    position: fixed;
    text-align: center;
    background: #b3b3ff;
    color: black;
    height: 3%;
    font-size: large;
    padding: 5px;
    margin-top: 5px;
    bottom: 0;
    right: 0;
    width: 100%;
}

header {
    position: fixed;
    text-align: center;
    background: #b3b3ff;
    color: #5c5c3d;
    padding: 5px;
    font-size: 150%;
    top: 0;
    width: 100%;
    right: 0;
}

nav {
    text-align: center;
    background: #b3b3ff;
    color: #5c5c3d;
    padding: 5px;
    font-size: 100%;
    margin-bottom: 10px;
}

.linkkiEtusivulle, .linkkiKauppaan, .linkkiYhteystietoihin {
    text-decoration: none;
    background: #b3b3ff;
    color: #5c5c3d;
}

.linkkiSähköpostiin {
    text-decoration: none;
}

a:hover, .sidenav a:hover {
    color: lime;
}

table, th, tr {
    border: 1px solid black;
}

.ensimmäinenTaulukko, .kolmasTaulukko {
    background: #ffff99;
}

.vilkkuva {
    animation: infinite;
    animation-duration: 0.1s;
    animation-name: vilkkuvaRivi;
}

@keyframes vilkkuvaRivi {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.5;
    }
}

.sidenav {
    position: fixed;
    height: 100%;
    width: 20%;
    top: 23.2%;
    right: 0;
    background-color: #ff6666;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #5c5c3d;
    display: block;
}

body {
    background: beige;
}

.hyväksyNappi {
    position: absolute;
    height: 5%;
    width: 5%;
    left: 56.7%;
}

@media screen and (max-width: 900px) {
    * {
        font-size: x-small;
    }

    aside {
        display: none;
    }
}

table {
    animation-duration: 10s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0.1%;
    }
}
