footer {
    position: fixed;
    text-align: center;
    background: #b3b3ff;
    color: black;
    height: 3%;
    font-size: large;
    padding: 5px;
    margin-top: 5px;
    bottom: 0;
    right: 0;
    width: 100%;
}

header {
    position: fixed;
    text-align: center;
    background: #b3b3ff;
    color: #5c5c3d;
    padding: 5px;
    font-size: 150%;
    top: 0;
    width: 100%;
    right: 0;
}

nav {
    text-align: center;
    background: #b3b3ff;
    color: #5c5c3d;
    padding: 5px;
    font-size: 100%;
    margin-bottom: 10px;
    width: 100%;
}

.linkkiEtusivulle, .linkkiKauppaan, .linkkiYhteystietoihin {
    text-decoration: none;
    background: #b3b3ff;
    color: #5c5c3d;
}

.linkkiKauppaanUudestaan {
    text-decoration: none;
}

.linkkiSähköpostiin {
    text-decoration: none;
}

a:hover, .sidenav a:hover {
    color: lime;
}

.sidenav {
    position: fixed;
    height: 100%;
    width: 20%;
    top: 23.2%;
    right: 0;
    background-color: #ff6666;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #5c5c3d;
    display: block;
}

body {
    background: beige;
}

@media screen and (max-width: 900px) {
    * {
        font-size: x-small;
    }

    aside {
        display: none;
    }
}
