footer {
    text-align: center;
    background: #b3b3ff;
    color: black;
    height: 40px;
    width: 99.22%;
    font-size: 200%;
    padding: 5px;
    margin-top: 5px;
}

header {
    text-align: center;
    background: #b3b3ff;
    color: #5c5c3d;
    padding: 5px;
    font-size: 200%;
}

nav {
    text-align: center;
    background: #b3b3ff;
    color: black;
    padding: 5px;
    font-size: 150%;
    margin-bottom: 10px;
}

.linkkiEtusivulle, .linkkiKauppaan, .linkkiYhteystietoihin {
    text-decoration: none;
    background: #b3b3ff;
    color: #5c5c3d;
}

.linkkiKauppaanUudestaan {
    text-decoration: none;
}

.linkkiSähköpostiin {
    text-decoration: none;
}

a:hover, .sidenav a:hover {
    color: lime;
}

.sidenav {
    height: 799px;
    width: 250px;
    position: absolute;
    z-index: 1;
    top: 25%;
    right: 8px;
    background-color: #ff6666;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #5c5c3d;
    display: block;
}

body {
    background: beige;
}

